<!-- <!DOCTYPE html> -->
<html>
<head>
	<title>about</title>



	<link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Ishan Dawar. It uses data from weatherstack</p>
	<img class="portrait" src="/img/koala.jpg">
	</div>

	
	{{>footer}}

</body>
</html>